defmodule <%= @namespace %>.Capsule do
  use Orbit.Capsule, otp_app: <%= @otp_app %>
  use Orbit.Router

  alias <%= @namespace %>.LayoutGemtext
  alias <%= @namespace %>.PageController

  pipe &Orbit.Controller.put_layout/2, &LayoutGemtext.main/1

  route "/static/*path", Orbit.Static, from: <%= @otp_app %>

  route "/", PageController, :home
end
