defmodule <%= @namespace %>.Router do
  use Orbit.Router

  alias <%= @namespace %>.LayoutView
  alias <%= @namespace %>.PageController

  pipe &Orbit.Controller.put_layout/2, &LayoutView.main/1

  route "/static/*path", Orbit.Static, from: "priv/static"

  route "/", PageController, :home
end
